body{
    font-family: sans-serif;
    background: whitesmoke;
    margin: 0;
}
.banner{
    background-color: white;
    height: 200px;
}

.banner{
    box-shadow:  0px 4px 20px -1px rgba(0,0,0,0.36);
    border-top: transparent solid 0.5px;
}

img{
    margin-top: 20px;
}

#burguer{
    display: none;
}

.banner nav ul{
    text-align: right;
    margin-right: 25px;
    margin-top: -90px;
}

.banner nav li{
    list-style: none;
    display: inline-block;
}

.banner nav a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.banner nav a:hover{
    color: #b06ec3;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    transform: translateY(2px);
    transition: 0.9s linear;
}

h2{
    color: #5e047f;
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}

.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.tabela{
    border: 2px solid #ccc;
    width: 95%;
    margin: auto;
}

table{
    border-collapse: collapse;
    width: 100%;
    min-width: fit-content;
    text-align: center
}

td , th { 
    padding: 15px 10px;
    color: #000;
}

thead{
    font-size: 20px;
}

tr{
    border-bottom: 1px solid #ccc;
    color: rgb(15, 15, 15);
}

td:hover{
    background-color: white;
}

.icon{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.section-head{
    color: rgb(39, 39, 39);
    text-align: left;
    margin-left: 30px;
}

.noticias{
    background-color: white;
    padding-left: 15px;
    height: 250px;
    text-align: left;
    justify-content: center;
    line-height: 1.5;
    font-size: 20px;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
}

.noticias h2{
    padding: 15px;
}

.noticias ul{
    line-height: 1.5;
    list-style-image: url(./img/listaicon.png);
}

.noticias li:hover{
    cursor: pointer;
    color: #3b7f9e;
    transform: translateX(20px);
    transition: 1s linear;
}

footer{
    background-color: rgba(81,10,104,255);
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    box-shadow: 0px -8px 21px -3px rgba(0,0,0,0.59);
}

footer p{
    line-height: 0.5;
    color: rgb(185, 185, 185);
}

footer p:hover{
    cursor: pointer;
    color: white;
    transition: 1s;
}

.foot{
    display: flex;
    flex-direction: column;

}


.icon-redes a{
    width: 35px;
    height: 35px;
    background-color: #343336;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



.fundo{
    margin-bottom: 23px;
    border-radius: 50%;
}

footer a:hover{
    cursor: pointer;
    background-color: #55a8e8;
    transition: 1s;
}

.redes{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.icon-redes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


@media (min-width: 601px) {
    *{
        box-sizing: border-box;
        font-size: 15px;
    }

    .banner img{
        width: 250px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    

    }

    @media (max-width: 719px) {
        *{
            box-sizing: border-box;
            font-size: 15px;
        }
    
        .banner img{
            width: 100px;
        }

        #burguer{
            display: flex;
            width: 50px;
            height: 50px;
            margin-left: 180px;
            margin-top: 3vh;
            background-color: #5e047f;
            border-radius: 50%;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        
        #burguer:hover{
            background-color: #b06ec3;
            transform: translateY(3px);
            box-shadow: 10px 5px 0px rgba(0,0,0,0.75);
            transition: 0.9s linear;
        }
        
        #burguer:active{
            background-color: #b06ec3;
            transform: translateY(1.5px);
            box-shadow: 10px 5px 0px rgba(0,0,0,0.75);
            transition: 0.5s linear;
        }

        .banner {
            display: flex;
            flex-direction: column;
            font-size: small;
        }

        .menu{
            display: none;
        }

        .noticias{
            height: 100%;
        }

        footer{
            display: flex;
            flex-direction: column;
            height: 100%;
        }

    }
